{
  "port": "8282",
  "log_level": "info",
  "use_auth": false,
  "download_folder": "/app/downloads",
  "categories": [
    "sonarr",
    "radarr"
  ],
  "debrids": [
    {
      "provider": "torbox",
      "name": "torbox",
      "api_key": ""
    }
  ],
  "mount": {
    "type": "rclone",
    "mount_path": "/mnt",
    "rclone": {
      "cache_dir": "/cache/rclone",
      "vfs_cache_mode": "off",
      "transfers": 4
    }
  }
}
